<!-- pie de pagina -->
<footer>
    <div class="links">
        <a href="https://www.facebook.com/gabriel.monroyquiroz.5?locale=es_ES" target="_blank">
            <img src="imagenes/FB.png" alt="Facebook" class="iconos">
        </a>
        <a href="https://www.linkedin.com/in/gabrielmonroy1205/" target="_blank">
            <img src="imagenes/LN.png" alt="Linkedin" class="iconos">
        </a>
        <a href="https://www.instagram.com/gaabriel_xlz/" target="_blank">
            <img src="imagenes/IG.png" alt="IG" class="iconos">
        </a>
        <a href="https://www.youtube.com/channel/UChcnKkTEz7AAsFDIPm7N_yQ" target="_blank">
            <img src="imagenes/YT.png" alt="youtube" class="iconos">
        </a>
    </div>
    <p>@ 2025 - Todos los derechos reservados</p>
 
</footer>