<!-- encabezado -->
<header>
    <nav>
        <div class="navbar-header">
            <button class="navbar-toggler">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="navbar-menu">
            <ul class="apartados">
                <li><a href="/index">Inicio</a></li>
                <li><a href="/habilidad">Sobre mí</a></li>
                <li><a href="/proyectos">Proyectos</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </div>
    </nav>
</header>
