<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link href="/css/stylesIndex.css" rel="stylesheet" type="text/css">
    <link href="/css/HeaderyFooter.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <div th:replace="~{components/global/header :: header(titulo='¿Quién soy?')}"></div>
    </header>

    <main>
        <div th:replace="~{components/index/main :: main}"></div>
    </main>

    <footer>
        <div th:replace="~{components/global/footer :: footer}"></div>
    </footer>

    <script src="/js/ScriptIndex.js"></script>
</body>

</html>