 <main th:fragment="main">
    <section class="inicio" id="inicio">
        <div class="contenido">
            <h1>¡Hola! <span class="resaltado">Soy Gabriel</span></h1>
            <p>Diseñador web principiante</p>
            <div class="button">
                <a href="imagenes/cv.pdf" download class="botonCV">Descargar CV</a>
            </div>
        </div>

        <div class="foto">
            <img src="imagenes/XD.png" alt="foto mia en el inicio">
        </div>
    </section>
</main>