<main th:fragment="mainH" class="container my-5">
    <section id="about">
        <h2>¿Quién soy?</h2>
        <p>Apasionado por crear sitios web funcionales y atractivos, combinando
            diseño creativo con habilidades<br>
            básicas de desarrollo. Con conocimientos iniciales en HTML, CSS y Java,
            y entusiasmo por aprender nuevas<br>
            tecnologías y frameworks. Enfocado en brindar soluciones modernas que
            mejoren la experiencia del usuario.
        </p>

        <!-- Habilidades -->
        <div class="habilidades">
            <h3>Habilidades</h3>
            <table class="tabla">
                <tr>
                    <td>
                        <img src="imagenes/htmllogo.png" alt="HTML">
                        <p>HTML</p>
                    </td>
                    <td>
                        <img src="imagenes/csslogo.png" alt="CSS">
                        <p>CSS</p>
                    </td>
                    <td>
                        <img src="imagenes/javalogo.png" alt="Java">
                        <p>Java</p>
                    </td>

                </tr>
            </table>
        </div>

        <!-- Idiomas -->
        <div class="habilidades">
            <h3>Idiomas</h3>
            <table class="tabla">
                <tr>
                    <td>
                        <img src="imagenes/bande.png" alt="Ingles">
                        <p>Inglés</p>
                    </td>
                    <td>
                        <img src="imagenes/banderaEsp.png" alt="Espanol">
                        <p>Español</p>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</main>